.motto {
  font-size: 2.25rem;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-weight: 300;
  color: #000;
  padding: 0 16%;
  position: relative;
}
.motto::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 105%;
  bottom: 0px;
  width: 10.5rem;
  transform: translate(-50%, 0);
  border-bottom: 2px solid;
}
