.resources {
  background: linear-gradient(to right, #123495 0, #53a0fe 50%, #00b1ac 100%);
}
.resources-h2 {
  font-size: 2.25rem;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-weight: 300;
  color: #000;
  padding: 0 16%;
  position: relative;
}
.resources-h2::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 115%;
  bottom: 0px;
  width: 31%;
  transform: translate(-50%, 0);
  border-bottom: 2px solid;
}
.container-img img {
  transition: all 1s ease-out;
  cursor: pointer;
}
.container-img img:hover {
  transform: scale(1.1);
  /* border: 6px solid #a0aed5; */
}
