.banner {
  background-image: url("../../../images/banner/Main_Header.jpg"),
    linear-gradient(#2f32295c, #161a154a);
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
}
.mainTitle {
  font-size: 3.1rem;
}
body {
  overflow-x: hidden;
}
